%h2 Nuova richiesta Borsa di studio:

%p.tit 
  Nome: 
  %span.val= @user.name

%p.tit 
  Email: 
  %span.val= @user.email

%p.tit 
  Lingua: 
  %span.val= @user.lang == "it" ? "Italiano" : "Inglese"

%p.tit 
  Indirizzo: 
  %span.val= @user.address

%p.tit 
  Città: 
  %span.val= @user.city

%p.tit 
  CAP: 
  %span.val= @user.cap

%p.tit 
  Telefono: 
  %span.val= @user.tel


%p.tit
  Nato a: 
  %span.val= @user.birthplace

%p.tit 
  Il: 
  %span.val
    - unless @user.birthdate.nil?
      = I18n.l @user.birthdate, format: :long 

%p.tit 
  Titolo di studio: 
  %span.val= @user.qualification

%p.tit 
  Votazione: 
  %span.val= @user.grade

%p.tit 
  Note: 
  %span.val= @user.notes


%p.tit 
  Newsletter: 
  %span.val= @user.newsletter ? "Si" : "No"

- infos = ["Altri titoli di studio/corsi di specializzazione frequentati", "Esperienze (anche amatoriali) nel campo specifico del corso prescelto", "Esperienze di lavoro maturate", "Cosa mi spinge a compiere studi in questo ambito", "Altre Info. utili, idonee a valutare il mio interesse a partecipare al corso"] 
- 5.times do |i|
  %p.tit.bold #{infos[i]}:
  %p.val= @user.send("info#{i}")


    
.clear