
%h2 PDF scaricato - #{@pdf}

%p.tit 
  Nome: 
  %span.val= @user.name

%p.tit 
  Email: 
  %span.val= @user.email

%p.tit 
  Lingua: 
  %span.val= @user.lang == "it" ? "Italiano" : "Inglese"


.clear
= render partial: "users/user_infos"