= f.label :title_it, "Titolo [it]"
= f.text_field :title_it
= f.label :text_it, "Testo [it]"
= f.text_area :text_it

= f.label :title_en, "Titolo [it]"
= f.text_field :title_en
= f.label :text_en, "Testo [en]"
= f.text_area :text_en