- title "Inserisci #{params[:article_type] ? "News" : "Evento" }"

= form_for @article do |f|
  = f.hidden_field :article_type, value: params[:article_type]
  = render partial: "form", locals: {f: f}
  = f.submit "Inserisci", class: "submit"