- content_for :admin do
  Articolo:
  = link_to "Modifica", [:edit, @article]
  = link_to "Elimina", @article, method: :delete
  
= "<span class='date'>#{I18n.l(@article.created_at.to_date, format: :long)}</span>"

.article_cont  
  - title tr(@article).title
  
  

  = parse_text markup tr(@article).text

  = render partial: "elements/share"


  .right
    = tf "Vai a:", "Go to:"
    = link_to "News", [:news]
    |
    = link_to "Blog", [:posts]

  .clear