- content_for :admin do
  Articolo:
  = link_to "Modifica", [:edit, @article]
  = link_to "Elimina", @article, method: :delete


- title tr(@article).title + "<span class='date'>#{I18n.l(@article.created_at.to_date, format: :medium)}</span>"

= markup tr(@article).text

.right
  = link_to tf("Torna alla home page", "Back to home page"), root_path