

- content_for :admin do
  Articolo:
  = link_to "Modifica", [:edit, @article]
  = link_to "Elimina", @article, method: :delete

.article_cont
  - title tr(@article).title + "<span class='date'>#{I18n.l(@article.created_at.to_date, format: :medium)}</span>"

  = markup tr(@article).text

  = render partial: "elements/share"


  .right
    = link_to tf("Torna alla pagina News", "Back to News page"), [:news]