- error_messages_for(@user)

.forms_form
  = form_for @user do |f|
    = hidden_field_tag "form", "form"
    = f.hidden_field :tmp_form, value: "form"
    = hidden_field_tag :js_enabled

    .form
      %h3= tf("RICHIESTA APPUNTAMENTO CON TUTOR", "TUTOR APPOINTMENT REQUEST")
      = f.label :first_name, tf("Nome", "First name")
      = f.text_field :first_name
      = f.label :last_name, tf("Cognome", "Last name")
      = f.text_field :last_name
      = f.label :email, "Email"
      = f.text_field :email
      - unless logged_in?
        = f.label :password, tf("Scegli una password", "Choose a password")
        = f.password_field :password
      = f.label :address, tf("Indirizzo", "Address")
      = f.text_field :address
      = f.label :city, tf("Città", "City")
      = f.text_field :city
      = f.label :cap, tf("CAP", "ZIP")
      = f.text_field :cap
      = f.label :tel, tf("Telefono", "Phone")
      = f.text_field :tel
      = f.label :qualification, tf("Titolo di studio", "Degree")
      = f.text_field :qualification

      = f.label :birthplace, tf("Luogo di nascita", "Born")
      = f.text_field :birthplace
      = f.label :birthdate, tf("Data di nascita", "Birthdate")
      .date_select
        = f.date_select :birthdate, start_year: 1960, end_year: 2000

      = f.label :notes, tf("Messaggio", "Other infos")
      = f.text_area :notes

      .checkboxes_bottom
        = f.check_box :newsletter
        = f.label     :newsletter,  tf("Newsletter - tieniti informato su nuovi corsi ed iniziative", "Newsletter - stay informed about new courses and events")

        = check_box_tag :authorize
        = label_tag     :authorize,  tf("autorizzo il trattamento dei dati personali", "I authorize the use of my personal data")
      .clear


      = f.submit tf("Invia", "Send"), class: "submit"

