.user_infos
  %h3 Voglio ricevere informazioni su:

  = hidden_field_tag :js_enabled

  - show_selection :int_annuali_visual, "Corso annuale Grafica Pubblicitaria"
  - show_selection :int_annuali_interior, "Corso annuale Interior Design"
  - show_selection :int_annuali_web, "Corso annuale Digital Communication"
  - show_selection :int_master_visual, "Master Graphic Design"
  - show_selection :int_master_interior, "Master Interior Design"
  - show_selection :int_workshop, "Workshop"
  - show_selection :int_evening, "Corsi Serali"
  - show_selection :int_evening_visual, "Corsi serali Grafica Pubblicitaria"
  - show_selection :int_evening_interior, "Corsi serali Interior Design"
  - show_selection :int_brevi_visual, "Corsi brevi Grafica Pubblicitaria"
  - show_selection :int_brevi_interior, "Corsi brevi Interior Design"
  
  %h3 Voglio partecipare a:

  - show_selection :int_stage_visual, "Open Day Grafica Pubblicitaria"
  - show_selection :int_stage_interior, "Open Day Interior Design"
  - show_selection :int_workshop_moda, "Workshop"
  - show_selection :int_stage_web, "Open Day Digital Communication"
  - show_selection :int_stage_evening, "Open Day Corsi Serali"
  
  - unless @user.interested_in.blank?
  
    %h3 Vorrei ottenere una borsa di studio per:

    %p.val= @user.interested_in
    

    - infos = ["Altri titoli di studio/corsi di specializzazione frequentati", "Esperienze (anche amatoriali) nel campo specifico del corso prescelto", "Esperienze di lavoro maturate", "Cosa mi spinge a compiere studi in questo ambito", "Altre Info. utili, idonee a valutare il mio interesse a partecipare al corso"] 
    - 5.times do |i|
      - val = @user.send("info#{i}")
      - unless val.blank?
        %p.tit.bold #{infos[i]}:
        %p.val= val
