.user_infos
  %h3 Voglio ricevere informazioni su:

  = hidden_field_tag :js_enabled

  - show_selection :int_annuali_visual, "Corso annuale Grafica Pubblicitaria"
  - show_selection :int_annuali_interior, "Corso annuale Interior Design"
  - show_selection :int_annuali_web, "Corso annuale Digital Communication"
  - show_selection :int_master_visual, "Master Graphic Design"
  - show_selection :int_master_interior, "Master Interior Design"
  - show_selection :int_special_visual, "Corsi specialistici Grafica Pubblicitaria"
  - show_selection :int_special_interior, "Corsi specialistici Interior Design"
  - show_selection :int_brevi_visual, "Corsi brevi Grafica Pubblicitaria"
  - show_selection :int_brevi_interior, "Corsi brevi Interior Design"
  - show_selection :int_brevi_graphic, "Corsi brevi Grafica Editoriale"
  - show_selection :int_workshop_visual, "Laboratorio Grafica Pubblicitaria"
  - show_selection :int_workshop_interior, "Laboratorio Interior Design"

  %h3 Voglio partecipare a:

  - show_selection :int_stage_visual, "Open Day Grafica Pubblicitaria"
  - show_selection :int_stage_interior, "Open Day Interior Design"
  - show_selection :int_stage_web, "Open Day Digital Communication"
  
  - unless @user.interested_in.blank?
  
    %h3 Vorrei ottenere una borsa di studio per:

    %p.val= @user.interested_in
    

    - infos = ["Altri titoli di studio/corsi di specializzazione frequentati", "Esperienze (anche amatoriali) nel campo specifico del corso prescelto", "Esperienze di lavoro maturate", "Cosa mi spinge a compiere studi in questo ambito", "Altre Info. utili, idonee a valutare il mio interesse a partecipare al corso"] 
    - 5.times do |i|
      - val = @user.send("info#{i}")
      - unless val.blank?
        %p.tit.bold #{infos[i]}:
        %p.val= val
