- if @user
  %h2= tf("Ripristina la tua password:", "Reset your password:")

  = form_for @user, url: change_password_user_path(params[:token]) do |f|
    = f.label :password, "Password"
    = f.password_field :password, value: ""
    = f.hidden_field :action_reset_pass
    = f.submit "Reset", class: "submit"
- else
  %h2= tf("Il tuo token non e' valido, ricontrolla la tua email.", "Your token is not valid, please recheck your email.")

  %p
    = tf("oppure", "or")
    = link_to tf("resettala nuovamente", "reset it again"), [:reset_password_form_user]