%h2= tf "Ripristina la password", "Reset password"

= form_tag [:reset_password_send], method: :post do
  = tf "Inserisci il tuo indirizzo email:", "Insert your email address:"
  = text_field nil, :email
  = submit_tag "Reset password", class: "submit"