%h2
  - unless @user == current_user
    Profilo
  - else
    Il mio profilo

%p.name= @user.full_name

.cont_nav
  - unless @user == current_user
    = link_to "Utenti", [:users], class: "button"
    = link_to "Modifica", [:edit, @user], class: "button"
  - else
    = link_to "Modifica", "/pages/form", class: "button"

= render partial: "user_infos"

.user_details
  %h3 Dettagli:
  - show_field :email, "Email"
  - show_field :address, "Indirizzo"
  - show_field :city, "Città"
  - show_field :cap, "CAP"
  - show_field :tel, "Telefono"
  - show_field :birthplace, "Nato a"
  - show_field :birthdate, "Nato il" do |date|
    - I18n.l date, format: :long unless date.nil?
  - show_field :qualification, "Titolo di studio"

%h4.tit
  PDF:
%p
  - if @user.cv?
    %a{ href: @user.cv_url }= @user.cv_url
  - else
    Non presente

%br

- if superadmin?
  .admin
    %p immagini lavori...
    = link_to "Carica un'immagine"


