%h2
  - unless @user == current_user
    Profilo
  - else
    Il mio profilo

%p.name= @user.full_name

.cont_nav
  - unless @user == current_user
    = link_to "Utenti", [:users], class: "button"
    = link_to "Modifica", [:edit, @user], class: "button"
  - else
    = link_to  tf("Modifica", "Edit"), "/pages/form", class: "button"

%br
%a.button{ href: "javascript:history.back(1)" }= tf "o torna indietro", "or go back"


= render partial: "user_infos"

.user_details
  %h3 Dettagli:
  - show_field :email, "Email"
  - show_field :address, tf("Indirizzo", "Address")
  - show_field :city, "Città"
  - show_field :cap, "CAP"
  - show_field :tel, "Telefono"
  - show_field :birthplace, "Nato a"
  - show_field :birthdate, "Nato il" do |date|
    - I18n.l date, format: :long unless date.nil?
  - show_field :qualification, "Titolo di studio"

%br

%br


-# duplicate of admin_borsa

%p.tit
  CV:
  - if @user.cv?
    %a{ href: @user.cv_url }= @user.cv_url
  - else
    Non presente

%p.tit
  Portfolio:
  - if @user.portfolio?
    %a{ href: @user.portfolio_url }= @user.portfolio_url
  - else
    Non presente

%p.tit
  Foto:
  - if @user.user_image?
    %a{ href: @user.user_image_url }= @user.user_image_url
  - else
    Non presente


%br

- if superadmin?
  .admin
    %p immagini lavori...
    = link_to "Carica un'immagine"


