%div#news
  %h5
    %span News
  .news
    %ul
      = render partial: "articles/article", collection: @news
    - if admin?
      .insert_article
        = link_to "Inserisci News", new_article_path(article_type: "news")
        |
        = link_to "Lista News", news_path()
  .clear
  -#
  -# %h5
  -#   %span Eventi
  -# .eventi
  -#   %ul
  -#     = render partial: "articles/article", collection: @events
  -#   - if admin?
  -#     .insert_article
  -#       = link_to "Inserisci Evento", new_article_path(article_type: "event")
  -# .clear

  .lavoro
    .box
      - unless english?
        %p.head
          = link_to "OPPORTUNITA' DI LAVORO", "/works"
        %p
          = link_to "L'accademia aiuta i suoi diplomati ad inserirsi nel mondo del lavoro.", "/works"
      - else
        %p.head
          = link_to "Job Opportunities", "/works"
        %p
          = link_to "The academy helps his students to enter in the business world.", "/works"

