%h1
  = site_title 
%a{ href: "/" }
  - if master?
    = image_tag "logo_blu.png", id: "logo"
  - else
    = image_tag "logo.png", id: "logo"
#banner
  - files = Dir.glob("#{Rails.root}/public/images/banner/#{master? ? "master" : "main"}/*")
  - files.each do |file|
    = image_tag file.gsub("#{Rails.root}/public", '')#, class: "first"
    -# image_tag "banner/2.png"#, class: "last"
.clear