-# expire_fragment "name" # where?
- cache "nav_#{current_lang}" do
  #nav_cont
    %ul#nav
      - pages.each_with_index do |page, idx|
        - case page.title_url_en
        - when "annual_courses"
          %li
            %ul.subnav
              %li= link_to "Visual Design", page_path(id: tf("visual_design_corsi_annuali", "visual_design_annual_training"))
              %li= link_to "Interior Design", page_path(id: tf("interior_design_corsi_annuali", "interior_design_annual_training"))
            = link_to tf("Corsi Annuali", "Annual Courses"), js_void
        - when "master_courses"
          %li
            %ul.subnav
              %li= link_to "Visual Design", page_path(id: tf("visual_design_corso_master", "visual_design_master_course"))
              %li= link_to "Interior Design", page_path(id: tf("interior_design_corso_master", "interior_design_master_course"))
            = link_to tf("Corsi Master", "Master Courses"), js_void
        - when "specialstic_courses"
          = render partial: "sections/special_courses", locals: { page: page }
        - when "dates_and_times"
        - when "interior_design"
        - when "summer_courses" # corsi estivi
          %li
            %ul.subnav
              %li
                %ul.subnav.sub2
                  %li= link_to tf("Corsi Brevi", "Short Courses"), page_path(id: tf("visual_design_corsi_brevi", "visual_design_short_courses"))
                  %li= link_to tf("Corsi Estivi", "Summer Courses"), page_path(id: tf("estivo_visual_design", "summer_visual_design"))
                = link_to tf("Visual Design"), js_void
              %li
                %ul.subnav.sub2

                  %li= link_to tf("Corsi Brevi", "Short Courses"), page_path(id: tf("interior_design_corsi_brevi", "interior_design_short_courses"))
                  %li= link_to tf("Corsi Estivi", "Summer Courses"), page_path(id: tf("estivo_interior_design", "summer_interior_design"))
                = link_to tf("Interior Design"), js_void
            = link_to tf("Corsi brevi", "Short Courses"), js_void

        - when "labs"
          %li
            %ul.subnav
              %li
                = link_to tf("Visual Design"), page_path(id: tf("laboratorio_visual_design", "visual_design_lab"))
              %li
                = link_to tf("Interior Design"), page_path(id: tf("laboratorio_interior_design", "interior_design_lab"))
            = link_to tf("Laboratori", "Labs"), js_void

        - else
          %li
            = link_to tr(page).title, pag_path(page)


    #social
      = link_to image_tag("icons/fb_icon.png"), "https://www.facebook.com/accademiaartedesigncappiello"
      -# "http://www.facebook.com/pages/Accademia-dArte-e-Design-Leonetto-Cappiello-Firenze/124282164308467"
      = link_to image_tag("icons/vimeo_icon.png"), "http://vimeo.com/user5798268"
      = link_to image_tag("icons/flickr_icon.png"), "http://www.flickr.com/photos/accademiacappiello/"
      = link_to image_tag("icons/twitter_icon.png"), "http://twitter.com/Acc_Cappiello"

