-# expire_fragment "name" # where?
- cache "nav_#{current_lang}" do
  #nav_cont
    %ul#nav
      - pages.each_with_index do |page, idx|
        - if idx == 1
          %li
            = link_to "News", [:posts]
        - case page.title_url_en
        - if idx == 20		
          %li%li= link_to "Workshop", page_path(id: tf("workshop_foto_video_moda", "workshop_fashion_foto_video"))
        - when "annual_courses"
          %li
            %ul.subnav
              %li= link_to tf("Grafica Pubblicitaria", "Graphic Design"), page_path(id: tf("grafica_pubblicitaria_corsi_annuali", "graphic_design_annual_training"))
              %li= link_to "Interior Design", page_path(id: tf("interior_design_corsi_annuali", "interior_design_annual_training"))
              %li= link_to "Digital Communication", page_path(id: tf("digital_communication_design_annuale", "web_communication_design"))
            = link_to tf("Corsi Annuali", "Annual Courses"), js_void
        - when "master_courses"
          %li
            %ul.subnav
              %li= link_to "Graphic Design", page_path(id: tf("visual_design_corso_master", "visual_design_master_course"))
              %li= link_to "Interior Design", page_path(id: tf("interior_design_corso_master", "interior_design_master_course"))
            = link_to tf("Master", "Master"), js_void

        - when "dates_and_times"
        - when "interior_design"
        - when "summer_courses" # corsi estivi
          %li
            %ul.subnav
              %li= link_to tf("Grafica Pubblicitaria", "Graphic Design"), page_path(id: tf("visual_design_corsi_brevi", "visual_design_short_courses"))
              %li= link_to tf("Interior Design", "Interior Short"), page_path(id: tf("interior_design_corsi_brevi", "interior_design_short_courses"))
              -# - if english?
              -#   %li= link_to tf("Interior Design in Inglese", "Interior Design in English"), page_path(id: tf("corso_interior_design_inglese", "interior_design_english"))
            = link_to tf("Corsi brevi", "Short/Summer Courses"), js_void
        - when "workshops"
          %li
            %ul.subnav
              %li
                = link_to tf("Grafica Pubblicitaria", "Graphic Design"), page_path(id: tf("laboratorio_visual_design", "visual_design_workshop"))
              %li
                = link_to tf("Interior Design", "Interior Design"), page_path(id: tf("laboratorio_interior_design", "interior_design_workshop"))
              %li
                = link_to tf("Exhibition Design", "Exhibition Design"), page_path(id: tf("corso_exhibition_design", "exhibition_design_course"))
              %li
                = link_to tf("Illuminotecnica", "Lighting"), page_path(id: tf("corso_illuminotecnica", "lighting_course"))
              %li
                = link_to tf("Video Editing", "Video Editing"), page_path(id: tf("corso_video_editing_visualframe", "visual_frame_video_editing"))
              %li
                = link_to tf("Web Design", "Web Design"), page_path(id: tf("corso_web_design", "web_design_course"))
              %li
                = link_to tf("Progettare il punto vendita", "Design the space of sale"), page_path(id: tf("corso_progettazione_spazio_vendita", "design_space_sale_course"))
            = link_to tf("Corsi Serali", "Evening classes"), js_void
        - when "info"
          %li
            %ul.subnav
              %li
                = link_to tf("Informazioni", "Info"), page_path(id: tf("info", "info"))
              %li
                = link_to tf("Incontra un Tutor", "Meet the Tutor"), page_path(id: tf("incontro-tutor", "tutor-appointment"))
              - if english?
                %li
                  = link_to tf("Info per stranieri", "Student Help"), page_path(id: tf("students-info", "students-info"))

            = link_to tf("Info", "info"), js_void

        - else
          - unless page.id == 35 || page.id == 63 # news
            %li
              = link_to tr(page).title, pag_path(page)


    #social
      = link_to image_tag("icons/fb_icon.png"), "https://www.facebook.com/accademiaartedesigncappiello"
      -# "http://www.facebook.com/pages/Accademia-dArte-e-Design-Leonetto-Cappiello-Firenze/124282164308467"
      = link_to image_tag("icons/vimeo_icon.png"), "http://vimeo.com/user5798268"
      = link_to image_tag("icons/flickr_icon.png"), "http://www.flickr.com/photos/accademiacappiello/"
      = link_to image_tag("icons/twitter_icon.png"), "http://twitter.com/Acc_Cappiello"
      = link_to image_tag("icons/instagram_icon.png"), "http://instagram.com/accademiacappiello"

