%li
  %ul.subnav  
    %li= link_to "Visual Design", page_path(id: tf("visual_design_corsi_brevi", "visual_design_short_courses"))
    %li= link_to "Interior Design", page_path(id: tf("interior_design_corsi_brevi", "interior_design_short_courses"))
    %li= link_to "Grafica Editoriale", page_path(id: tf("grafica_editoriale", "press_graphics"))
    %li
      %ul.subnav.sub2  
        %li= link_to tf("Base", "Level 1"), page_path(id: tf("autocad_2d_base", "autocad_2d_1st_level"))
        %li= link_to tf("Intermedio", "Level 2"), page_path(id: tf("autocad_2d_intermedio", "autocad_2d_2nd_level"))
        %li= link_to tf("Pro", "Pro"), page_path(id: "autocad_2d_pro")
      = link_to "Autocad 2d", js_void
    %li
      %ul.subnav.sub2        
        %li= link_to tf("Base", "Level 1"), page_path(id: tf("3d_studio_max_base", "3d_studio_max_1st_level"))
        %li= link_to tf("Avanzato", "Advanced"), page_path(id: tf("3d_studio_max_avanzato", "3d_studio_max_advanced"))
      = link_to "3d Studio Max", js_void
    %li= link_to "V-Ray", page_path(id: "vray")
    %li
      %ul.subnav.sub2
        %li= link_to tf("Base", "Level 1"), page_path(id: "autocad_3d_1")
        %li= link_to tf("Avanzato", "Level 2"), page_path(id: "autocad_3d_2")
      = link_to "Autocad 3D", js_void
    %li
      %ul.subnav.sub2
        %li= link_to tf("Base", "Basic"), page_path(id: tf("sketchup_base", "sketchup_basic"))
        %li= link_to tf("Avanzato", "Advanced"), page_path(id: tf("sketchup_avanzato", "sketchup_advanced"))
      = link_to "SketchUp", js_void
    %li= link_to "Corsi Speciali", pag_path(page) 
  = link_to tf("Corsi Brevi", "Short Courses"), js_void