- unless @page.id == 35 # news
  - title tr(@page).title

-#- if @page.id != 1 && @page.root? && @page.id != 6 && @page.id != 8 && @page.id != 13 #form
-#  = image_tag "image4.jpg", id: "gallery"

- if @page.id == 35 # news
  - content_for :jquery do
    :plain
      var title = "Accademia Cappiello - Firenze"
      var stateObj = { action: { name: "clear" } } // source: "..params.."
      if (history.replaceState)
        history.replaceState(stateObj, title, "/")

- if @page.id == 9 # contacts
  #likebox
    :plain
      <fb:like-box href="http://www.facebook.com/pages/Accademia-dArte-e-Design-Leonetto-Cappiello-Firenze/124282164308467" width="492" show_faces="false" stream="true" header="false"></fb:like-box>

- # borse di studio, form
- ids_full_class = [6, 8, 13, 10, 29, 7, 5, 4, 30, 51, 58, 61]
#inner{ class: "#{"home" if home_page? || @page.id == 1} #{"full" if !@page.root? || ids_full_class.include?(@page.id)}" }
  - if @page.id == 1 || @page.id == 35 # news
    = render partial: "elements/home"
  - else
    = render partial: "elements/standard"
    =# raise NotFound

= render partial: "elements/share"

-# if admin?
- content_for :admin do
  Pagina:
  = link_to "Modifica", [:edit, @page]
= #params.inspect