.line.bg-muted
  .separator50#corsi
  .line-compress.line-max
    .separator50
    %h1.line.color-muted.center-content.article-title.font-custom
      = tf "I Corsi", "Courses"
    .separator30
    .separator15.pattern
    .separator15
    %nav.corsi-nav.line.center-content
      %a.btn.bg-primary.center-content.line-tablet.color-white.toggle-opacity-inverse-hover{href: js_void, data: { filter: "*" } }= tf "Tutti", "All"
      %a.btn.bg-primary.center-content.line-tablet.color-white.toggle-opacity-inverse-hover{href: js_void, data: { filter: "interior" } } Interior
      %a.btn.bg-primary.center-content.line-tablet.color-white.toggle-opacity-inverse-hover{href: js_void, data: { filter: "visual" } } Visual
      %a.btn.bg-primary.center-content.line-tablet.color-white.toggle-opacity-inverse-hover{href: js_void, data: { filter: "grafica" } } Grafica
      %a.btn.bg-primary.center-content.line-tablet.color-white.toggle-opacity-inverse-hover{href: js_void, data: { filter: "estivo" } }= tf "Estivo", "Summer"
      %a.btn.bg-primary.center-content.line-tablet.color-white.toggle-opacity-inverse-hover{href: js_void, data: { filter: "annuale" } }= tf "Annuale", "Full"
      %a.btn.bg-primary.center-content.line-tablet.color-white.toggle-opacity-inverse-hover{href: js_void, data: { filter: "breve" } }= tf "Breve", "Short"
      %a.btn.bg-primary.center-content.line-tablet.color-white.toggle-opacity-inverse-hover{href: js_void, data: { filter: "base" } }= tf "Base", "Basic"
      %a.btn.bg-primary.center-content.line-tablet.color-white.toggle-opacity-inverse-hover{href: js_void, data: { filter: "avanzato" } }= tf "Avanzato", "Advanced"
      %a.btn.bg-primary.center-content.line-tablet.color-white.toggle-opacity-inverse-hover{href: js_void, data: { filter: "master" } } Master
      %a.btn.bg-primary.center-content.line-tablet.color-white.toggle-opacity-inverse-hover{href: js_void, data: { filter: "sketchup" } } Sketchup

    .separator15
    .separator15.pattern
    .separator30
    .line.article.grid
      :ruby
        def classes(name)
          klasses = []
          klasses << "autocad" if name =~ /autocad/i
          klasses << "sketchup" if name =~ /sketch/i
          klasses << "photoshop" if name =~ /photoshop/i
          klasses << "interior" if name =~ /interior/i
          klasses << "visual" if name =~ /visual/i
          klasses << "grafica" if name =~ /grafica/i
          klasses << "master" if name =~ /master/i
          klasses << "photo" if name =~ /photo/i
          klasses << "web" if name =~ /web/i
          klasses << "estivo" if name =~ /estivo/i
          klasses << "annuale" if name =~ /annuale|15 mesi/i
          klasses << "breve" if name =~ /breve|seral|workshop/i
          klasses << "base" if name =~ /base/i
          klasses << "avanzato" if name =~ /avanzato/i
          klasses
        end


        # raise NuPage.all.inspect
        # pages = NuPage.all_saf
        pages = NuPage.all_saf_filtered

        corsi = []
        pages.each do |page|
          page = th(page)
          desc_small = page.meta_description
          desc_small = truncate desc_small, 280

          corsi << { # TODO: translation
            name:       page.title,
            desc_small: desc_small,
            title_url:  page.title_url,
            title_url_it:  page.title_url_it,
            classes:    classes("#{page.title_url_it}_#{page.title_it}")
          }
        end

      :css
        .widget > img {
          width: 100%
        }

      - corsi.each_with_index do |corso, idx|
        .widget.bg-white.grid-item{ class: corso[:classes].join(" ") }
          %a{ href: "/c/#{corso[:title_url_it]}" }
            .widget-pic{:style => "background: url(/images/corsi/#{corso[:title_url_it]}.jpg) no-repeat center center; background-size:cover;"}
          -# %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/KICyR3BZWwE", :width => "100%"}
          .separator15
          .line-compress
            .line-compress
              %h3
                =# corso[:title_url] #debug
                = corso[:name]
              .separator5
              .widget-desc
                %h6= corso[:desc_small]
              .separator10
              .line
                .col7.line-tablet
                .col3.line-tablet
                  %a.btn.bg-primary.center-content.line-tablet.color-white.push-right.toggle-opacity-inverse-hover{:href => "/c/#{corso[:title_url_it]}"}
                    = tf "Informazioni", "More Info"
          .separator15
        - if idx % 3 == 2
          .separator30
  .separator50
  .separator30

:coffee
  c = console
  grid = $ '.grid'
  nav  = $ ".corsi-nav a"

  grid.isotope
    itemSelector: '.grid-item'
    layoutMode: 'fitRows'

  nav.on "click", (evt) =>
    elem = evt.currentTarget
    filter = elem.dataset.filter
    filter = ".\#{filter}" unless filter == "*"
    grid.isotope
      filter: filter
