.bg-white
.line.color-white
  .separator50
  .separator15
  .fixed-height
    .owl-carousel.line.bg-black
      :ruby
        pages = NuPage.all_saf_filtered
        pages = pages.map{ |page| page.title_url_it }
        pages = pages.map do |page|
          Hashie::Mash.new( name: page, img_url: "not_set" )
        end
        pages = pages.map{ |page| page.img_url = "/images/corsi/#{page.name}.jpg"; page }

        pages.reject! { |p| ["sketchup_base", "sketchup_avanzato"].include? p.name  }

        pages.shuffle!
      -# - pages = pages.map{ |page| page.antani = "eccome!"; } # sets page to page.name in the "pages" array
      - for page in pages
        .item
          %img{:src => page.img_url }

  :javascript
      $(document).ready(function() {

      $(".owl-carousel").owlCarousel({
        items: 1,
        mouseDrag: false,
        pullDrag: true,
        touchDrag:true,
        autoplay:true,
        autoplaySpeed: 1000,
        autoplayTimeout:5000,
        loop: true,
        // center: true,
        autoHeight : true,
        // lazyLoad : true,
        navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>']
      });
    });
.line.bg-white
  .separator10
  .line-compress.line-max
    .separator10
    %h1.line.center-content.article-title.font-custom
      L'Accademia
    .separator30
    .separator15.pattern
    .separator30
    .line
      .line
        .col4.line-tablet
          %img.img-media{:src=> "/images/accademia.jpg", :class => "col9 line-tablet"}
          .separator30
        .col6.line-tablet
          %p Dal 1956 l’Accademia d’Arte e Design Leonetto Cappiello è il luogo ideale per esprimere la propria creatività e per tradurla in una reale opportunità di lavoro. Ogni professione, anche la più creativa, non si può improvvisare.
          %p Ha bisogno di basi, di nozioni, di tecniche. Le idee sono importanti ma da sole non bastano: è necessario dar loro forma, la migliore possibile, e saperle applicare.
          %p Con più di cinquant’anni di esperienza nell’insegnamento e nella formazione, e grazie al costante aggiornamento dei suoi corsi, l’Accademia Cappiello rappresenta un polo specializzato nel qualificare professionisti nei settori della grafica, della progettazione e decorazione d’interni, della pubblicità e dell’illustrazione editoriale.
          %p Docenti qualificati, che dividono il loro tempo tra la professione e l’insegnamento, portano in aula le loro esperienze rappresentano la migliore garanzia di un reale confronto con il mondo del lavoro.
          %p Una didattica esclusiva, improntata sulla cultura del progetto, che esercita pensiero e creatività e insegna a finalizzare le idee attraverso gli strumenti e i software più aggiornati utilizzati dai professionisti del settore.
      .separator100
  = render partial: "pages_new/corsi"
  .separator30
  = render partial: "pages_new/borse_di_studio"
  .separator30
  = render partial: "pages_new/gallery"
  .separator30
  = render partial: "pages_new/contatti"
  .separator30
  = render partial: "pages_new/footer"
