- pdf = pdf

- content_for :jquery do
  :plain
    $("#standard h3 a").live('click', function(){
      $('.forms_pdf form').toggle();
      $('.forms_pdf').toggleClass("bg");
    })

    var label = $("h3").html()
    //$("#standard h3").remove()
    //$("#standard p ").append("<h3>"+label+"</h3>")
    //$("#standard p:first h3, #standard form p").remove()

.forms_pdf
  - label = tf("Scarica il pdf informativo del corso", "Download the course information pdf")

  - if logged_in?

    - if pdf.match /^email_/
      - pdf_name = pdf.gsub /^email_/, ''
      %h3
        %a{ href: "mailto:#{Array.new(UserMailer::ADMIN).first}?subject=Richiesta invio pdf: #{pdf}&body=Vorrei ricevere il seguente pdf appena pronto: #{pdf_name.humanize}." }
          = tf "Richiedi il programma in pdf", "Request the pdf for the program"
      = tf "Ti sarà inviato via email quanto prima.", "We will send you an email as soon as possible."
    - else
      - pdf_name = if pdf =~ /master_/
        - "#{pdf.gsub(/master_/, '')}"
      - else
        - "#{"en/" if english?}#{pdf}"
      %h3= link_to label, "/pdf_open/#{pdf_name}.pdf"

  - else
    %h3= link_to label, js_void

    = form_for @user, html: { style: "display: none" } do |f|
      = f.hidden_field :tmp_form, value: "pdf"
      = f.hidden_field :tmp_form_pdf, value: pdf
      .row
        %p
          = tf "Se sei già registrato", "If you are already registered"
          = link_to tf("effettua il Login", "Log in here"), [:login]
          = tf "altrimenti puoi registrarti riempiendo questo form:", "otherwise you can register filling the following form:"
      %div
        = f.label :first_name, tf("Nome", "First Name")
        = f.text_field :first_name
      %div
        = f.label :last_name, tf("Cognome", "Last Name")
        = f.text_field :last_name
      .clear
      .row
        = f.label :email, "Email"
        = f.text_field :email
      .clear
      .row
        = f.label :password, tf("Scegli una password", "Choose a password")
        = f.password_field :password
      = f.hidden_field :redirect_url, value: request.path
      /
        %div.authorize
          - label = "Autorizzo il trattamento dati".html_safe
          -# label = "Autorizzo il <a href='/pdf/privacy.pdf'>trattamento dati</a>".html_safe

        = f.check_box :confirm, class: "checkbox"
        = f.label :confirm, label, {checked: "checked"}
      = hidden_field_tag :js_enabled
      = f.submit tf("Scarica", "Download"), class: "submit"
.pdf_clear
