:ruby
  def home_url
    "/pages/l_accademia"
  end

  def nav_link_raw(label, link, mobile:)
    url = url_for link
    unless mobile
      haml_tag(:a, href: url, class: "#{url_active url}") do
        haml_concat label
      end
    else
      # link_to label, link
      haml_tag(:a, class: "btn btn-small bg-muted color-white", href: url) do
        haml_concat label
      end
    end
  end

  def url_active(url)
    "active" if request.path == url || request.path == "/" && url == home_url
  end

  # php style


  def linkz
    {
      home: {
        label:   "L'Accademia",
        url:     home_url,
        url_en:  "/pages/about_us",
        # page: Page.find_by_url "l_accademia"
      },
      gallery: {
        label:   "La Gallery",
        url: '/pag/_gallery',
        url_en:  "/pag/_gallery",
        # page: Page.find_by_url "l_accademia"
      },
      corsi: {
        label:    "Corsi",
        label_en: "Courses",
        url:      "/pag/corsi",
        url_en:   "/pag/courses",
      },
      calendario: {
        label:    "Calendario",
        label_en: "Calendar",
        url:      "/pag/calendario",
        url_en:   "/pag/calendar",
      },
      news: {
        label: "News",
        url:   [:posts],
      },
      borse_di_studio: {
        label: "Borse di Studio",
        url:  "/pages/borse_di_studio",
        # page: Page.find_by_url "borse_di_studio"
      },
      open_days: {
        label: "Open Day",
        url:  "/pages/open_days",
        # page: Page.find_by_url "open_days"
      },
      contatti: {
        label: "Contatti",
        url:  "/pag/contatti",
      },
      l_accademia: {
        label: "L' Accademia",
        url:  "/pag/l_accademia",
      }
      # add another link
      #
      # xxx: {
      #   label: "Xxxx",
      #   url:  "/pages/xxx",
      # },
    }
  end

  def nav_link(link, mobile: false)
    link = linkz.fetch link
    nav_link_raw link.fetch(:label), link.fetch(:url), mobile: mobile
  end

  def nav_link_news(mobile: false)
    nav_link "News", [:posts], mobile: mobile
  end

!!!
%html{ html_attrs(english? ? "en_EN" : "it_IT") }
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width", :name => "viewport"}/
    %link{:href => "/stylesheets/vendor/csshelper/csshelper.css", :rel => "stylesheet"}/
    -# %link{:href=> "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet"}
    %link{:href => "/stylesheets/vendor/font-awesome/font-awesome.min.css", :rel => "stylesheet"}/
    -# TODO UI salvare il font
    -# %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,700italic,700,600italic,600,400italic,300italic,300&subset=latin,cyrillic-ext", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/fancybox.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "main_responsive"#, :cache =>  "cache/all"
    - unless Rails.env == "production"
      - debug = " anonym_id: #{session[:anonym_id]}"
      - layout_title = site_title "#{"#{@title} - " unless @title.blank?}#{debug}"
    %title= layout_title
    %meta{ content: meta_description, name: "description"}/
    %meta{ content: meta_keywords, name: "keywords"}/
    %meta{ content: meta_author, name: "author"}/
    %meta{ name: 'csrf-token', content: form_authenticity_token}/
    %meta{ name: 'csrf-param', content: 'authenticity_token'}/
    %meta{ name: "google-site-verification", content: "WT1zivsvBTN6dzfaJhbL5JKgi5K__Te3cCcSt3VL6Uw" }/
    %meta{ property: "og:title", content: layout_title }
    %meta{ property: "og:type", content: "website" }/
    %meta{ property: "og:site_name", content: "Accademia Cappiello" }/
    %meta{ property: "og:image", content: og_image }/
    %meta{ property: "og:description", content: meta_description }/
    %meta{ property: "og:url", content: request_url }/
    %meta{ property: "fb:admins", content: "1218562195" }/
    -# TODO UI downloadare e vendorizzare
    -# %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js", :type => "text/javascript"}
    = javascript_include_tag "jquery", "jquery-cycle", "jquery-swfobject", "jquery-flickr", "jquery-mousewheel", "jquery-fancybox", "master"
    = yield :head
    %script{ type: "text/javascript" }
      var action = '#{controller.action_name}'
      var resources = '#{controller.controller_name.pluralize}'
      $(function(){
      = yield :jquery
      })

    - if Rails.env == "staging" # || request.path.split("/")[2] == "contatti" ||
      %script{ src: "http://maps.google.com/maps/api/js" }
      %script{ type: "text/javascript", src: " /javascripts/gmap.js" }

  - path = request.path.split("/")[2]
  - path = "l_accademia" if ["/", ""].include? request.path
  - not_home = path != "l_accademia"
  %body.bg-black{ class: "#{controller.controller_name} #{controller.action_name} #{"master" if master?} #{"admin" if admin?} #{path} #{"not-home" if not_home}"}
    .separator50
    #cookies.cookie_bar.line-compress.color-white.hidden.fixed.top
      .separator5
      .line
        .line
          .col7.line-tablet.center-content-tablet
            .line
              .separator5
              %a.color-white{ href: "/cookies" }
                Ottieni maggiori informazioni sulla tua privacy e su un metodo per bloccare i cookie di profilazione.
              Oppure
          .col3.line-tablet.right-content.center-content-tablet
            .separator15.tablet.mobile
            .separator5
            %button#cookie_btn.v-middle.center-content.button.bg-primary.color-white.radius5{ href: js_void }
              .separator2
              &nbsp;&nbsp;Consenti l'uso dei cookie.&nbsp;&nbsp;
              .separator2
      .separator10
    / mobile menu
    %a#btnMenu.absolute.top.right.color-white.mobile.tablet.center-content.layer4{:href => "javascript:void(0)", :onclick => "$(this).toggleClass('rotate bg-primary'); $('#menuMobile').toggleClass('hide');"}
      %i.fa.fa-bars
    %a
      #menuMobile.overlay.over-y-scroll.color-white.center-content.hide.layer2
        .separator30
        .separator10
        .col6.offset-left2.radius3
          %a.btn.btn-small.bg-muted.color-white{:href => "/"} Accademia
          .separator10
          %a#link-mobile-corsi.btn.btn-small.bg-muted.color-white{:href => "/#corsi"} Corsi
          .separator10
          - nav_link :news
          .separator10
          %a#link-mobile-gallery.btn.btn-small.bg-muted.color-white{:href => "/#gallery"} Gallery
          .separator10
          %a#link-mobile-borse-di-studio.btn.btn-small.bg-muted.color-white{:href => "/#borse_di_studio"} Borse di Studio
          .separator10
          %a.btn.btn-small.bg-muted.color-white Open Day
          .separator10
          %a#link-mobile-contatti.btn.btn-small.bg-muted.color-white{:href => "/#contatti"} Contatti
          .separator15
          %a.btn.btn-small.color-white.bg-primary Area utenti
        .separator15
        %a.color-white{:href => "/#contatti"}
          %i.fa.fa-phone
          Telefono
          &nbsp;&nbsp;
        %a.color-white{:href => "mailto:info@accademiacappiello.it"}
          %i.fa.fa-envelope-o
          Email
        .separator50
        .separator30
      / end mobile menu
      / social top nav
      / end social nav
      / header and menu
      #top-menu-social.color-white
        .line-compress.top-menu
          .separator5
          .top-menu-social.col4
            &nbsp;
            %a{:href => "https://www.facebook.com/accademiaartedesigncappiello", :target => "_blank"}
              %i.fa.fa-facebook-official
            %a{:href => "http://twitter.com/Acc_Cappiello", :target => "_blank"}
              %i.fa.fa-twitter
            %a{:href => "http://instagram.com/accademiacappiello", :target => "_blank"}
              %i.fa.fa-instagram
            %a{:href => "http://www.flickr.com/photos/accademiacappiello/", :target => "_blank"}
              %i.fa.fa-flickr
            %a{:href => "http://vimeo.com/user5798268", :target => "_blank"}
              %i.fa.fa-vimeo
            .separator3
            .separator1
          .col5.push-right
            .desktop
              .separator3
              %span
                %ul.line.right-content
                  %li.line.right-content
                    %a.bg-muted.color-white.radius20.toggle-opacity-inverse-hover{:href => "#"}
                      %small
                        &nbsp;&nbsp; AREA UTENTI &nbsp;&nbsp;

                    %a.color-white.toggle-opacity-inverse-hover{:href => "/pag/contatti"}
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      %i.fa.fa-phone.color-white
                        Telefono &nbsp;&nbsp;
                    %a.color-white.toggle-opacity-inverse-hover{:href => "mailto:info@accademiacappiello.it"}
                      &nbsp;&nbsp;&nbsp;
                      %i.fa.fa-envelope.color-white
                      &nbsp;&nbsp;Email &nbsp;&nbsp;
          .separator5
      #slide.line.bg-white
        .line-compress.line-max.header#top-menu
          .col2.line-tablet.center-content-tablet
            .separator3
            %a{:href => "/pag/l_accademia"}
              %img.logo{:src => "/images/logo.png"}

          .col8.right-content.desktop
            .header-menu.desktop
              - nav_link :l_accademia
              %a#link-corsi{ href: "/#corsi" } Corsi
              - nav_link :news
              %a#link-gallery{ href: "/#gallery" } La Gallery
              %a#link-borse-di-studio{ href: "/#borse-di-studio" } Borse di studio
              - nav_link :open_days
              %a#link-contatti{ href: "/#contatti" } Contatti
              -# nav_link :contatti

      / end header and menu

      / --------------content

      -# TODO UI da posizionare dove ti pare --- messaggi di errore e notifiche
      - unless flash == {} || flash.nil?
        #flashes
          - flash.map do |key, value|
            - unless value.blank?
              %div{ :class => key }= value

      -# ------------
      -# il contenuto delle pagine viene renderizzato qui! :D
      -# ------------
      = yield
      -# ------------

      #fb-root

      :javascript

        if (window.location.hash) {
          $('.header-menu a, #menuMobile a').removeClass('active');
          $('.header-menu #link-' + window.location.hash.replace('#', '') + ', #menuMobile #link-mobile-' + window.location.hash.replace('#', '')).addClass('active');
        }

        $('.header-menu a, #menuMobile a').on('click', function () {

          if (!$('#menuMobile').hasClass('hide')) {
            $('#btnMenu').toggleClass('rotate bg-primary');
            $('#menuMobile').addClass('hide');
          }

          $('#menuMobile a').removeClass('active');
          $('.header-menu a').removeClass('active');
          $(this).addClass('active');
        });

      :javascript
        var bar = document.querySelector(".cookie_bar")
          , btn = document.querySelector("#cookie_btn")
          , hideBar = function() {

          bar.classList.add("hidden")

          localStorage.cap_cookie_ok = true;
        };

        if (!localStorage.cap_cookie_ok) {

          bar.classList.remove("hidden")
          btn.addEventListener("click", hideBar)
        }
      :javascript
        var google_conversion_id = 1048016950;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
      - if Rails.env == "production"
        %script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
        %noscript
          %div{:style => "display:inline;"}
            %img{:alt => "", :height => "1", :src => "//googleads.g.doubleclick.net/pagead/viewthroughconversion/1048016950/?value=0&amp;guid=ON&amp;script=0", :style => "border-style:none;", :width => "1"}/
